:root {
  --nunito-Sans:'Nunito Sans', sans-serif;
  --light: 300;
  --semiBold:600;
  --extraBold:800;
  --DarkGray: hsl(0, 0%, 52%);
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  width: 100%;
  height: 100%;
}

body{
  min-height: 100vh;
  font-size: 16px;
  font-family: var(--nunito-Sans);
}

/* header */
.header__title {
  font-size: 1.6rem;
  font-weight: var(--extraBold);
}

.header__button {
  background-color: transparent;
  border: none;
  font-weight:var(--semiBold);
}

.header__item, .header__item:hover {
  text-decoration: none;
  color: inherit;
}

button:focus{
  outline:none !important;
}

main {
  height: 100vh;
}


/* input */
.form__input {
  width: 60%!important;
  flex: 0 0 auto!important;
  border: none;
}

.form__select {
  width: 35%;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  /* background: transparent; */
  background: #fff url("../img/icons8-expand-arrow-26.png") no-repeat right .75rem center/10px 10px;
}

.form__container {
  flex: 1 1 50%;
}
.input-group-text{
  background-color: transparent;
  border: none;
}


/* card-country */

.card__item {
  height: 170px;
}

.card__link {
  text-decoration: none;
  color: black;
}

.card__link:hover {
  text-decoration: none;
  color: black;
}

.card-text {
  font-weight: var(--semiBold);
}

.card-text span {
  font-weight: 400;
}


.card-img-top {
 object-fit: cover;
}

.card-title {
  font-size: 1.3rem;
  font-weight: var(--extraBold);
}
.card {
  height: 400px;
}



/* error input */
.message-error {
  margin-top: 140px;
}


/* section */ 
.countries__column {
  align-content:baseline;
}

.col__section {
  padding-left: 80px;
}